@import "fonts";
@import "reset";

body {
	font-family: "circelight";
	font-size: 20px;
}

.thxpage {
	display: flex;
	height: 100vh;
	@media screen and (max-width: 1024px) {
		height: auto;
		flex-direction: column;
	}
	&__bg {
		width: 30%;
		background: url("../images/desktop_bg.svg") repeat-y;
		background-size: contain;
		@media screen and (max-width: 1024px) {
			width: 100%;
			padding-bottom: calc(100% / 6.2);
			background: url("../images/mobile_bg.svg") no-repeat;
			background-size: cover;
		}
	}

	&__inner {
		width: 70%;
		display: flex;
		justify-content: center;
		align-items: center;
		@media screen and (max-width: 1024px) {
			width: 100%;
			margin-top: 50px;
			justify-content: start;
		}
	}

	&__content {
		max-width: 700px;
		margin-left: 30px;
		@media screen and (max-width: 425px) {
			margin-left: 0;
			padding: 0 15px;
		}
	}

	&__logo {
		display: inline-block;
		max-width: 111px;
		max-height: 25px;
		margin-bottom: 14px;
	}

	&__title {
		font-family: "Montserrat", sans-serif;
		font-weight: 600;
		font-size: 48px;
		margin-bottom: 8px;
		@media screen and (max-width: 768px) {
			font-size: 42px;
		}
		@media screen and (max-width: 425px) {
			font-size: 18px;
			margin-bottom: 5px;
			margin-top: 34px;
		}
	}

	&__text {
		max-width: 380px;
		line-height: 30px;
		margin-bottom: 24px;
		@media screen and (max-width: 425px) {
			font-size: 14px;
			line-height: 24px;
		}
	}

	&__btn {
		display: inline-block;
		color: #fff;
		font-size: 16px;
		text-decoration: none;
		padding: 16px 67px;
		background: #528be6;
		border-radius: 5px;
		margin-bottom: 40px;
		@media screen and (max-width: 768px) {
			font-family: "Montserrat", sans-serif;
			font-weight: 500;
		}
		@media screen and (max-width: 425px) {
			padding: 14px 44px;
		}
	}

	&__social {
	}

	&__follow {
		font-size: 14px;
		margin-bottom: 18px;
	}

	&__list {
		display: flex;
	}

	&__item {
		font-size: 0;
		margin-right: 43px;
		&:last-child {
			margin-right: 0;
		}
		@media screen and (max-width: 425px) {
			margin-right: 27px;
		}
	}

	&__item-link {
		display: inline-block;
		font-size: 5px;
		@media screen and (max-width: 425px) {
			svg {
				width: 24px;
				height: 24px;
			}
		}
	}
}
